@import 'variables';
.artifact {
    border: 5px solid $dark-grey;
    cursor: pointer;
    width: 400px;
    height: 400px;
    float: left;
    margin: 5px;
    position: relative;
    overflow: hidden;
    &:hover {
        .caption {
            opacity: 1;
        }
    }
    img {
        height: 100%;
        width: auto;
        position: absolute;
        left: 0;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .caption {
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        color: #fff;
        z-index: 100;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        left: 0;
        opacity: 0;
        width: 400px;
        height: auto;
        text-align: left;
        padding: 10px;
        word-wrap: break-word;
    }
}
