@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import 'variables';

html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    color: #BBB;
    body {
        overflow-x: hidden;
        background-color: #e9eaed;
    }
}

a {
    color: #BBB;
    transition: color 0.3s ease;
    text-decoration: none;
    &:hover {
        color: white;
    }
}

.main {
    padding-top: $nav-height;
    display: table;
    border-spacing: 0;
    position: relative;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    .title {
        margin-bottom: 20px;
        font-size: 24px;
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(211, 211, 211);

        strong {
            font-weight: 400;
        }

        .options {
            float: right;
            font-size: 18px;
            cursor: pointer;
            a:hover {
                color: $font-default;
            }
        }
    }
}

.fade.ng-move,
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.fade.ng-leave.ng-leave-active,
.fade.ng-move,
.fade.ng-enter {
    opacity: 0;
}

.fade.ng-leave,
.fade.ng-move.ng-move-active,
.fade.ng-enter.ng-enter-active {
    opacity: 1;
}

.dropdown {
    position: relative;
    .dropdown-menu {
        position: absolute;
        left: 50%;
        top: 40%;
        z-index: 1000;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 13px;
        border-radius: 2px;
        -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        border: 1px solid #ddd;
        border: 1px solid rgba(0, 0, 0, 0.1);
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        opacity: 0;
        transition: all 0.2s ease;
        visibility: hidden;
        &.open {
            visibility: visible;
            opacity: 1;
            top: 100%;
        }
        li > a {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 1.42857143;
            color: #333;
            white-space: nowrap;
            &:hover {
                background-color: #f1f1f1;
                color: #717171;
            }
        }
    }
}
