.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    &:focus {
        outline: 0;
    }
    &.btn-green {
        color: #fff !important;
        background-color: #65bd77;
        border-color: #65bd77;
        &:hover {
            background-color: #53b567;
            border-color: #4bae5f;
        }
        &:disabled {
            background-color: lighten(#65bd77, 20);
            border-color: lighten(#65bd77, 15);
        }
    }
}