.main-content {
    box-sizing: border-box;
    color: rgb(113, 113, 113);
    margin-left: 200px;
    padding: 30px;
    vertical-align: top;
    .section {
        padding-top: 20px;
        .info {
            line-height: 2;
            font-weight: bold;
        }
    }
}
