.main-content {
    box-sizing: border-box;
    color: rgb(113, 113, 113);
    display: table-cell;
    float: none;
    padding: 30px;
    vertical-align: top;
    .section {
        padding-top: 20px;
    }
}
