@import 'variables';
.notification {
    display: table;
    position: relative;
    margin: 10px auto 0;
    width: 100%;
    border: 1px solid lightgrey;
    background-color: $light-blue;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &.desktop-mode {
        min-width: 400px;
        width: 30%;
        float: left;
        margin: 15px;
        min-height: 250px;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        .title {
            margin-bottom: 0px;
            padding-bottom: 0px;
            border: none;
        }
        .icon {
            font-size: 40px;
            width: 110px;
        }
    }
    strong {
        font-weight: bold;
    }
    .icon {
        display: table-cell;
        vertical-align: middle;
        font-size: 20px;
        width: 80px;
        padding: 30px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .body {
        display: table-cell;
        vertical-align: middle;
        padding: 20px;
        .title {
            margin-bottom: 15px;
            .header {
                color: #FFF;

            }
        }
        li {
            line-height: 1.1;
            a {
                color: #FFF;
                text-decoration: underline;
                &:hover {
                    color: #CCC;
                }
            }
        }
        
        .history {
            
            .run {
                float: left;
                min-width: 10%;
                background-color: deeppink;
            }
            
        }
        
    }
}
