//Heights
$nav-height: 60px;

//Colours
$font-default: #717171;
$light-green: #7AB885;
$light-amber: #E2A267;
$light-red: #E38686;
$light-blue: #73BEFF;
$light-grey: #AEAEAE;
$dark-green: darken($light-green, 5);
$dark-amber: darken($light-amber, 5);
$dark-red: darken($light-red, 5);
$dark-blue: darken($light-blue, 5);
$dark-grey: darken($light-grey, 5);
