<h2 class="title">Branch Tracker: {{trackingBranch}}<small class="options"><a ng-click="toggleDisplayMode()">Toggle Display Mode</a></small></h2>

<ul>
    <li class="fade" ng-repeat="job in trackedJobs">
        <div class="notification" ng-class="{'desktop-mode': !displayAsList, 'green': job.result === 'SUCCESS', 'amber': job.result === 'PENDING', 'blue': job.result === 'UNSTABLE', 'red': job.result === 'FAILURE'}">
            <div class="icon">
                <i class="fa fa-check" ng-class="{ 'fa-check': job.result === 'SUCCESS', 'fa-question': job.result === 'PENDING', 'fa-bolt': job.result === 'UNSTABLE', 'fa-times': job.result === 'FAILURE'}"></i>
            </div>
            <div class="body">
                <p>{{job.jobName}} ({{job.buildId}})
                    <div ng-if="displayAsList">
                        <a target="_blank" href="http://build.nowtv.bskyb.com/view/6.%20Iceberg/job/{{job.jobName}}/{{job.buildId}}/api/json">Jenkins API</a> --------
                        <a target="_blank" href="/api/jenkins/fetch/{{job.jobName}}/{{job.buildId}}">Fetch &amp; Populate</a>
                    </div>
                </p>
            </div>
        </div>
    </li>
    <li class="fade" ng-if="trackedJobs.length == 0">
        <div>No results found...</div>
    </li>
</ul>
