<h2 class="title">Statistics Against: {{trackingBranch}}</h2>

<div class="grid">
    <div class="row">
        <div class="class-1-3">
            <select ng-model="chosenJob">
                <option ng-repeat="job in jobs" value="{{job}}">{{job}}</option>
            </select>
        </div>
        <div class="class-1-3">Chosen Job: {{chosenJob || "All"}}</div>
        <div class="class-1-3">
            <button type="button" class="btn btn-green" ng-click="generateStats()">Generate</button>
        </div>
    </div>

    {{data}}

    <div class="row cards">
        <canvas ng-if="chartGenerated" id="pie" class="chart chart-pie" data="data"></canvas>
    </div>
</div>
