<h2 class="title">Statistics Against: {{trackingBranch}}</h2>

<div class="grid">
    <div class="row">
        <div class="class-1-3">
            <ul>
                <li ng-repeat="job in jobs">{{job}}</li>
            </ul>
        </div>
        <div class="class-1-3"></div>
        <div class="class-1-3"></div>
    </div>

    <div class="row cards">
        <canvas ng-if="chartGenerated" id="pie" class="chart chart-pie" data="pie"></canvas>
    </div>

    <!--
    <div class="row cards">
        <div class="col-1-3 card red">
            <header>
                <ul>
                    <li>Followers</li>
                    <li class="big-num">
                        <h4>365</h4>
                    </li>
                </ul>
            </header>
            <article>
                <ul class="sections">
                    <li class="list">
                        <ul>
                            <li><i class="fa fa-fw fa-clock-o"></i> In last 14 days</li>
                            <li><i class="fa fa-fw fa-calendar-o"></i> 2015/10/20 to 2014/08/01</li>
                        </ul>
                    </li>
                    <li class="text-right">
                        <span class="inlinebar">1,3,5,3,5,1,4,3,2,1,3,1,2,6</span>
                    </li>
                </ul>
            </article>
        </div>
        <div class="col-1-3 card green">
            <header>
                <ul>
                    <li>Followers</li>
                    <li class="big-num">
                        <h4>365</h4>
                    </li>
                </ul>
            </header>
            <article>
                <ul class="sections">
                    <li class="list">
                        <ul>
                            <li><i class="fa fa-fw fa-clock-o"></i> In last 14 days</li>
                            <li><i class="fa fa-fw fa-calendar-o"></i> 2015/10/20 to 2014/08/01</li>
                        </ul>
                    </li>
                    <li class="text-right">
                        <span class="inlinebar">1,3,5,3,5,1,4,3,2,1,3,1,2,6</span>
                    </li>
                </ul>

            </article>
        </div>
        <div class="col-1-3 card amber">
            <header>
                <ul>
                    <li>Followers</li>
                    <li class="big-num">
                        <h4>365</h4>
                    </li>
                </ul>
            </header>
            <article>
                <ul class="sections">
                    <li class="list">
                        <ul>
                            <li><i class="fa fa-fw fa-clock-o"></i> In last 14 days</li>
                            <li><i class="fa fa-fw fa-calendar-o"></i> 2015/10/20 to 2014/08/01</li>
                        </ul>
                    </li>
                    <li class="text-right">
                        <span class="inlinebar">1,3,5,3,5,1,4,3,2,1,3,1,2,6</span>
                    </li>
                </ul>

            </article>
        </div>
    </div>
-->
</div>
