<h2 class="title">Job Information - {{::jobName}} - {{::buildId}} <a target="_blank" href="/api/jenkins/fetch/{{jobName}}/{{buildId}}">Fetch &amp; Populate</a></h2>

<li ng-if="job.runInfo">Run Info:
    <ul>
        <li>Total Tests: {{::job.runInfo.totalCount}}</li>
        <li>Skipped Tests: {{::job.runInfo.skipCount}}</li>
        <li>Failed Tests: {{::job.runInfo.failCount}}</li>
    </ul>
</li>
<li ng-if="job.commitInfo && job.commitInfo.length > 0">GIT Messages: {{::job.commitInfo}}</li>
<li>GIT Commit: {{::job.gitCommit}}</li>


<div class="section" ng-if="job.artifacts&& job.artifacts.length > 0">
    <h2 class="title">Build Artifacts</h2>
    <div ng-repeat="artifact in job.artifacts" class="artifact">
        <img class="ng-scope" ng-src="http://build.nowtv.bskyb.com/view/6.%20Iceberg/job/{{::jobName}}/{{::buildId}}/artifact/{{::artifact}}">
        <span class="caption">{{::artifact}}</span>
    </div>
</div>
