<h2 class="title">Job - <strong>{{::job.jobName}}{{ (job.shard ? "-"+job.shard : "") }}</strong><small class="options"><a target="_blank" href="/api/jenkins/fetch/{{jobName}}/{{buildId}}">Fetch &amp; Populate</a></small></h2>

<div class="grid">
    <div class="row">
        <div class="panel">
            <div class="header">Status</div>
            <div class="body">
                <result-icon result="job.result"></result-icon>
            </div>
        </div>
        <div class="panel">
            <div class="header">Project</div>
            <div class="body">
                <span class="emphasis">{{job.project.toUpperCase()}}</span>
            </div>
        </div>
        <div class="panel">
            <div class="header">Build</div>
            <div class="body">
                <span class="emphasis">{{job.buildId}}</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel">
            <div class="header">Total Tests</div>
            <div class="body">
                <span class="emphasis">{{::job.runInfo.totalCount || "N/A"}}</span>
            </div>
        </div>
        <div class="panel">
            <div class="header">Skipped Tests</div>
            <div class="body">
                <span class="emphasis">{{::job.runInfo.skipCount || "N/A"}}</span>
            </div>
        </div>
        <div class="panel">
            <div class="header">Failed Tests</div>
            <div class="body">
                <span class="emphasis">{{::job.runInfo.failCount || "N/A"}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel">
            <div class="header">Previous Results</div>
            <div class="body visualisation">
                <linechart data="data" options="options"></linechart>
            </div>
        </div>
    </div>

</div>
<div class="section" ng-if="job.artifacts && job.artifacts.length > 0">
    <h2 class="title">Commit Information</h2>
    <div>GIT Commit:
        <span class="info">{{::job.gitCommit}}</span>
    </div>
    <div ng-if="job.commitInfo && job.commitInfo.length > 0">GIT Messages:
        <span class="info" ng-repeat="commit in job.commitInfo">{{commit}}{{$last ? '' : ', '}}</span>
    </div>

</div>

<div class="section" ng-if="job.artifacts && job.artifacts.length > 0">
    <h2 class="title">Build Artifacts</h2>
    <div ng-repeat="artifact in job.artifacts" class="artifact">
        <img class="ng-scope" ng-src="http://build.nowtv.bskyb.com/view/6.%20Iceberg/job/{{::jobName}}/{{::buildId}}/artifact/{{::artifact}}">
        <span class="caption">{{::artifact}}</span>
    </div>
</div>
