<h2 class="title">Job Information - {{::jobName}} - {{::buildId}} <a target="_blank" href="/api/jenkins/fetch/{{jobName}}/{{buildId}}">Fetch &amp; Populate</a></h2>

<div ng-if="job.runInfo" class="section row cards">
    <div class="col-1-3 card green">
        <header>
            <ul>
                <li>Total Tests</li>
                <li class="big-num">
                    <h4>{{::job.runInfo.totalCount}}</h4>
                </li>
            </ul>
        </header>
    </div>
    <div class="col-1-3 card amber">
        <header>
            <ul>
                <li>Skipped</li>
                <li class="big-num">
                    <h4>{{::job.runInfo.skipCount}}</h4>
                </li>
            </ul>
        </header>

    </div>
    <div class="col-1-3 card red">
        <header>
            <ul>
                <li>Failed</li>
                <li class="big-num">
                    <h4>{{::job.runInfo.failCount}}</h4>
                </li>
            </ul>
        </header>
    </div>
</div>

<div ng-if="job.commitInfo && job.commitInfo.length > 0">GIT Messages: {{::job.commitInfo}}</div>
<div>GIT Commit: {{::job.gitCommit}}</div>


<div class="section" ng-if="job.artifacts&& job.artifacts.length > 0">
    <h2 class="title">Build Artifacts</h2>
    <div ng-repeat="artifact in job.artifacts" class="artifact">
        <img class="ng-scope" ng-src="http://build.nowtv.bskyb.com/view/6.%20Iceberg/job/{{::jobName}}/{{::buildId}}/artifact/{{::artifact}}">
        <span class="caption">{{::artifact}}</span>
    </div>
</div>
