$font-color: #666;

.table {
    
    width: 100%;
    margin: 10px 0;
    color: $font-color;
    text-align: left;
    
    thead {
        font-weight: bold;
        
        tr {
             background: #f6f7f8;
        }
    }
    
    tbody {
        tr:nth-child(even) {
            background-color: #f7f7f7;
        }
        
        tr:hover {
            background-color: #ededed;
        }
        
        .emphasis {
            font-weight: 400;
        }
    }
    
    tr {
        background-color: white;
        transition: ease 0.2s background-color;
    }
    
    th, td {
        padding: 10px;
        line-height: $line-height;
        border: 1px solid lightgrey;
        border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    } 
    
    .options {
        color: white;
        max-width: 130px;
    }
    
}